[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crewai = "0.100.1"
crewai-tools = "0.33.0"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
